#show-hide, #sort-btn {
  color: white;
  background-color: #26D6CB;
  margin-bottom: 20px;
}

.pagination-nav {
  margin: 0 3px 0 3px;
}

#name-header, #height-header  {
  color: #687175;
}

.name-data {
  border: none; 
}
.height-data {
  padding-left: 13px;
}

.pagination {
  margin: 20px 0 0 18px;
}

a.active {
  background-color: red;
}
