.pagination-nav {
  margin: 0 3px 0 3px;
}

#name-header, #height-header  {
  color: #687175;
}

.height-data {
  padding-left: 13px;
}

.pagination {
  margin: 20px 0 0 29px;
}

a.active {
  background-color: red;
}
